In [27]:
import pandas as pd
import pandas_profiling as pp
import numpy as np

## Read Data

Pandas has the ability to read data from various formats, including:
- CSV
- Excel
- Html
- Json
- Feather
- Parquet

Let's start by reading a table from a csv file. Pandas puts the data in an object known as a `DataFrame`.<br>
The data we are using here is air emissions from industrial facilities in Queensland for the 2005/2006 inventory year taken from [data.gov.au](http://data.gov.au).

In [2]:
df = pd.read_csv('../../data/processed/npi-2006-qld-air-total-emissions.csv')

The `DataFrame` is now stored in variable `df`. We can print it:

In [3]:
df

,jurisdiction,Year,data_start_date,data_end_date,first_published_date,last_updated_date,sub_threshold,jurisdiction_facility_id,registered_business_name,facility_name,...,site_address_state,site_address_postcode,site_latitude,site_longitude,main_activities,ANZSIC code,ANZSIC name,substance,destination,quantity_in_kg
0,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Arsenic & compounds,Air Total,6.31
1,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Beryllium & compounds,Air Total,0.52
2,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Cadmium & compounds,Air Total,2.12
3,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Carbon monoxide,Air Total,170743.00
4,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Chromium (III) compounds,Air Total,18.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9370,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086ILE042,BARTTER ENTERPRISES PTY LTD,BARTTER ENTERPRISES PTY LTD,...,QLD,4311,-27.374167,152.463889,Meat Breeder Rearing Facility,171,Poultry Farming (Meat),Ammonia (total),Air Total,13450.00
9371,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086ILE043,BARTTER ENTERPRISES PTY LTD,BARTTER ENTERPRISES PTY LTD,...,QLD,4311,-27.384722,152.470556,Meat Breeder Rearing Facility,171,Poultry Farming (Meat),Ammonia (total),Air Total,17754.00
9372,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086ILE044,PAUL & CHARMAINE SCALIA,Scalia,...,QLD,4341,-27.622222,152.470833,Meat Chicken Facility,172,Poultry Farming (Eggs),Ammonia (total),Air Total,13610.00
9373,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086ILE045,BARTTER ENTERPRISES PTY LTD,BARTTER ENTERPRISES PTY LTD,...,QLD,4343,-27.458349,152.367415,Poultry - fertile Eggs,172,Poultry Farming (Eggs),Ammonia (total),Air Total,34205.00
9374,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086SLI001,SLALOM INVESTMENTS PTY LTD,SLALOM INVESTMENTS PTY LTD,...,QLD,4356,-27.759444,151.539444,Egg Production,172,Poultry Farming (Eggs),Ammonia (total),Air Total,11362.00

Similarly, using the respective read method you can read the tables from other file formats supported by Pandas. <br>
e.g. `pd.read_excel()`

Pandas can also read the data from SQL database and put them directly into a pandas data frame. To do that, we need to pass in the query and the connection object.

In [4]:
import sqlite3
#create a connection to database
conn = sqlite3.connect('../01 SQL/Sales.db')

# write a query
query = '''
SELECT * from Customers
LIMIT 5
'''

pd.read_sql(query,conn)

,CustomerID,Title,Firstname,Surname,PhoneNumber,Mobile,Fax,Email,Address,City,Country,CreditCardNumber,CreditCardExpiry,SignupDate
0,1,Mr.,Jorge,Dunn,None,0429937146,48585127,sbrooks@hotmail.com,99098 Rachael Cliff,New Jasonborough,Poland,341571816096695,12/20,2019-06-17
1,2,Mrs.,Debra,Wall,56978970,0470205559,None,colleenalexander@taylor-brown.net,9716 Andrea Place Apt. 808,Harrisberg,Portugal,4846279439697392,02/24,2015-01-02
2,3,Dr.,Cynthia,Ellis,None,0469055029,82096582,vstewart@gmail.com,21014 Jared Mount,Lopezmouth,Germany,213179187652107,01/30,2014-07-21
3,4,Mr.,John,Harris,None,0475137980,None,yarmstrong@hotmail.com,54725 Todd Corners,New Timothy,Bahrain,3567765520251007,02/22,2011-07-26
4,5,Mr.,Kyle,Jones,21424091,0404892875,24628569,cindy97@yahoo.com,97603 Joseph Terrace Apt. 079,Sherryland,Hong Kong,4290875996151482,07/29,2013-09-26

__Tip:__ Sometimes you just want to quickly copy a portion of a dataset from a webpage or excel into a notebook. An easy way to do that is to copy the data from the source and then use `pd.read_clipboard()`. This method will create a pandas data frame from the data you copied. Note that this method only works if the notebook is running on your local machine (not on an external server).

## Basic Analysis
- info
- describe
- pandas profiling
- value_counts()

In [5]:
df = pd.read_csv('../../data/processed/npi-2006-qld-air-total-emissions.csv')

We can use `.head()` and `.tail()` to view only top or bottom rows of the table.

In [6]:
# top rows
df.head()

,jurisdiction,Year,data_start_date,data_end_date,first_published_date,last_updated_date,sub_threshold,jurisdiction_facility_id,registered_business_name,facility_name,...,site_address_state,site_address_postcode,site_latitude,site_longitude,main_activities,ANZSIC code,ANZSIC name,substance,destination,quantity_in_kg
0,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Arsenic & compounds,Air Total,6.31
1,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Beryllium & compounds,Air Total,0.52
2,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Cadmium & compounds,Air Total,2.12
3,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Carbon monoxide,Air Total,170743.00
4,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Chromium (III) compounds,Air Total,18.80

In [7]:
# bottom rows
df.tail()

,jurisdiction,Year,data_start_date,data_end_date,first_published_date,last_updated_date,sub_threshold,jurisdiction_facility_id,registered_business_name,facility_name,...,site_address_state,site_address_postcode,site_latitude,site_longitude,main_activities,ANZSIC code,ANZSIC name,substance,destination,quantity_in_kg
9370,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086ILE042,BARTTER ENTERPRISES PTY LTD,BARTTER ENTERPRISES PTY LTD,...,QLD,4311,-27.374167,152.463889,Meat Breeder Rearing Facility,171,Poultry Farming (Meat),Ammonia (total),Air Total,13450.0
9371,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086ILE043,BARTTER ENTERPRISES PTY LTD,BARTTER ENTERPRISES PTY LTD,...,QLD,4311,-27.384722,152.470556,Meat Breeder Rearing Facility,171,Poultry Farming (Meat),Ammonia (total),Air Total,17754.0
9372,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086ILE044,PAUL & CHARMAINE SCALIA,Scalia,...,QLD,4341,-27.622222,152.470833,Meat Chicken Facility,172,Poultry Farming (Eggs),Ammonia (total),Air Total,13610.0
9373,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086ILE045,BARTTER ENTERPRISES PTY LTD,BARTTER ENTERPRISES PTY LTD,...,QLD,4343,-27.458349,152.367415,Poultry - fertile Eggs,172,Poultry Farming (Eggs),Ammonia (total),Air Total,34205.0
9374,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086SLI001,SLALOM INVESTMENTS PTY LTD,SLALOM INVESTMENTS PTY LTD,...,QLD,4356,-27.759444,151.539444,Egg Production,172,Poultry Farming (Eggs),Ammonia (total),Air Total,11362.0

__Note:__ You can specify how many rows from the top or bottom of the table you want by passing in a number.<br>
e.g. `df.head(10)` or `df.tail(3)`

We can use `.columns` to get a list of column names.

In [8]:
df.columns

Index(['jurisdiction', 'Year', 'data_start_date', 'data_end_date',
       'first_published_date', 'last_updated_date', 'sub_threshold',
       'jurisdiction_facility_id', 'registered_business_name', 'facility_name',
       'site_address_street', 'site_address_suburb', 'site_address_state',
       'site_address_postcode', 'site_latitude', 'site_longitude',
       'main_activities', 'ANZSIC code', 'ANZSIC name', 'substance',
       'destination', 'quantity_in_kg'],
      dtype='object')

Using `.info()` method you can get a list of the columns and the type of data stored in each.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9375 entries, 0 to 9374
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   jurisdiction              9375 non-null   object
 1   Year                      9375 non-null   int64
 2   data_start_date           9375 non-null   object
 3   data_end_date             9375 non-null   object
 4   first_published_date      9375 non-null   object
 5   last_updated_date         9375 non-null   object
 6   sub_threshold             9375 non-null   object
 7   jurisdiction_facility_id  9375 non-null   object
 8   registered_business_name  9375 non-null   object
 9   facility_name             9375 non-null   object
 10  site_address_street       9375 non-null   object
 11  site_address_suburb       9375 non-null   object
 12  site_address_state        9375 non-null   object
 13  site_address_postcode     9375 non-null   int64
 14  site_latitude             9375 non-null   float64
 15  site_longitude            9375 non-null   float64
 16  main_activities           9375 non-null   object
 17  ANZSIC code               9375 non-null   int64
 18  ANZSIC name               9375 non-null   object
 19  substance                 9375 non-null   object
 20  destination               9375 non-null   object
 21  quantity_in_kg            9375 non-null   float64
dtypes: float64(3), int64(3), object(16)
memory usage: 1.6+ MB

You can also get some basic statistical analysis of the data using `.describe()` method.

In [10]:
df.describe()

,Year,site_address_postcode,site_latitude,site_longitude,ANZSIC code,quantity_in_kg
count,9375.0,9375.000000,9375.000000,9375.000000,9375.000000,9.375000e+03
mean,2006.0,4541.100373,-24.034062,149.625650,1987.567893,1.205184e+05
std,0.0,267.957741,4.200536,3.838858,1237.421112,2.803064e+06
min,2006.0,4006.000000,-28.913000,138.123778,143.000000,0.000000e+00
25%,2006.0,4340.000000,-27.466667,147.867500,1111.000000,2.600000e-01
50%,2006.0,4650.000000,-25.395083,151.120704,1841.000000,1.210000e+01
75%,2006.0,4742.000000,-21.762662,152.928364,2921.000000,7.310000e+02
max,2006.0,4895.000000,-9.232500,153.512054,9531.000000,2.385545e+08

To get a more detailed analysis of the data in the table we can use a package called `pandas-profiling`. This package extends Pandas and adds detailed reports of the data.

In [11]:
df.profile_report()

AttributeError: 'DataFrame' object has no attribute 'profile_report'

## Subsetting and indexing

There are multiple ways to get a subset of the data. `loc` is used when we want to specify the names of columns and `iloc` when we want to use the index of the columns.<br>

In [12]:
df.columns

Index(['jurisdiction', 'Year', 'data_start_date', 'data_end_date',
       'first_published_date', 'last_updated_date', 'sub_threshold',
       'jurisdiction_facility_id', 'registered_business_name', 'facility_name',
       'site_address_street', 'site_address_suburb', 'site_address_state',
       'site_address_postcode', 'site_latitude', 'site_longitude',
       'main_activities', 'ANZSIC code', 'ANZSIC name', 'substance',
       'destination', 'quantity_in_kg'],
      dtype='object')

We can use `loc` by specifying the rows and columns we want. e.g. `df.loc[{row(s)}, {column(s) name}]`

In [13]:
# we can get a subset of a single column
df.loc[:10,'jurisdiction']

# Notice we used :10 for rows which means rows 0 to 10 rows

0     QLD
1     QLD
2     QLD
3     QLD
4     QLD
5     QLD
6     QLD
7     QLD
8     QLD
9     QLD
10    QLD
Name: jurisdiction, dtype: object

__Note:__ `loc` has a unique property. Since it is designed to work with names of columns and rows, when you want to get a subset of rows, the result it returns is inclusive. In other words when we passed in `:10` in almost every other python object that means `0` to `9`, but in `loc` it means `0` to `10`. Likewise, `10:20` in `loc` means rows `10` to `20`.

In [14]:
# We can also get a subset of multiple columns by passing a list of columns we want.
df.loc[10:20,['Year','facility_name','substance','quantity_in_kg']]

,Year,facility_name,substance,quantity_in_kg
10,2006,DARRA,Magnesium oxide fume,0.00
11,2006,DARRA,Manganese & compounds,171.00
12,2006,DARRA,Mercury & compounds,1.07
13,2006,DARRA,Nickel & compounds,20.50
14,2006,DARRA,Nickel carbonyl,0.00
15,2006,DARRA,Nickel subsulfide,0.00
16,2006,DARRA,Oxides of Nitrogen,108967.00
17,2006,DARRA,Particulate Matter 10.0 um,173060.00
18,2006,DARRA,Polychlorinated dioxins and furans (TEQ),0.00
19,2006,DARRA,Polycyclic aromatic hydrocarbons (B[a]Peq),0.00
20,2006,DARRA,Sulfur dioxide,109293.00

`iloc` works similar to `loc`, but instead of names we pass in index of the rows or the columns we want.

In [15]:
# a single column
df.iloc[:10,5]

0    31/03/2010
1    31/03/2010
2    31/03/2010
3    31/03/2010
4    31/03/2010
5    31/03/2010
6    31/03/2010
7    31/03/2010
8    31/03/2010
9    31/03/2010
Name: last_updated_date, dtype: object

__Note:__ Notice the number of rows here, and compare it with when we used `loc`.

In [16]:
# multiple columns
df.iloc[10:20,[1,9,-3,-1]]

,Year,facility_name,substance,quantity_in_kg
10,2006,DARRA,Magnesium oxide fume,0.00
11,2006,DARRA,Manganese & compounds,171.00
12,2006,DARRA,Mercury & compounds,1.07
13,2006,DARRA,Nickel & compounds,20.50
14,2006,DARRA,Nickel carbonyl,0.00
15,2006,DARRA,Nickel subsulfide,0.00
16,2006,DARRA,Oxides of Nitrogen,108967.00
17,2006,DARRA,Particulate Matter 10.0 um,173060.00
18,2006,DARRA,Polychlorinated dioxins and furans (TEQ),0.00
19,2006,DARRA,Polycyclic aromatic hydrocarbons (B[a]Peq),0.00

Another useful method to get a subset of data is using boolean indexing. Booleans are either True or False. If we pass a list of booleans, pandas will return only the rows with True in the list.

In [17]:
df['substance'] == 'Oxides of Nitrogen'

0       False
1       False
2       False
3       False
4       False
        ...
9370    False
9371    False
9372    False
9373    False
9374    False
Name: substance, Length: 9375, dtype: bool

The list above has the value true only on the rows where the substance is "Oxides of Nitrogen". <br>
__Note:__ you can only see a small portion of the data so the True values might not be visible.

Now if we pass this as an index into a data frame we only get the rows where substance is "Oxides of Nitrogen".

In [18]:
df[df['substance'] == 'Oxides of Nitrogen']

,jurisdiction,Year,data_start_date,data_end_date,first_published_date,last_updated_date,sub_threshold,jurisdiction_facility_id,registered_business_name,facility_name,...,site_address_state,site_address_postcode,site_latitude,site_longitude,main_activities,ANZSIC code,ANZSIC name,substance,destination,quantity_in_kg
16,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Oxides of Nitrogen,Air Total,108967.0
34,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001CPL001,CLAYPAVE PTY LTD,CLAYPAVE PTY LTD,...,QLD,4303,-27.605638,152.832185,"Manufacture of clay pavers, bricks and refract...",2021,Clay Brick Manufacturing,Oxides of Nitrogen,Air Total,17900.0
63,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001PGH001,CSR BUILDING PRODUCTS LTD,PGH Bricks & Pavers,...,QLD,4500,-27.317025,152.996906,Manufacture of Clay Brick and Pavers,2021,Clay Brick Manufacturing,Oxides of Nitrogen,Air Total,12792.0
94,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001PGH002,CSR BUILDING PRODUCTS LTD,PGH Bricks and Pavers,...,QLD,4563,-26.392025,152.925239,"Manufacture of clay bricks, blocks and pavers",2021,Clay Brick Manufacturing,Oxides of Nitrogen,Air Total,17682.0
124,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001PGH003,CSR BUILDING PRODUCTS LTD,PGH Bricks and Pavers,...,QLD,4077,-27.572250,152.969800,Manufacture of clay bricks,2021,Clay Brick Manufacturing,Oxides of Nitrogen,Air Total,2613.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9175,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q080QBH001,QUEENSLAND BULK HANDLING PTY LTD,QUEENSLAND BULK HANDLING PTY LTD,...,QLD,4178,-27.388333,153.162222,"Coal unloading, stockpiling and loading to shi...",5212,Port and Water Transport Terminal Operations,Oxides of Nitrogen,Air Total,11651.0
9215,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q082BOR001,BORAL AUST GYPSUM LTD,Boral Plasterboard Northgate,...,QLD,4013,-27.392803,153.071054,Manufacture of plasterboard and plaster,2032,Plaster Product Manufacturing,Oxides of Nitrogen,Air Total,28841.0
9234,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q085CRL001,CONSOLIDATED RUTILE LTD,Pinkenba Processing Plant,...,QLD,4008,-27.436507,153.103643,Rutile sand mining,805,Mineral Sand Mining,Oxides of Nitrogen,Air Total,10286.0
9254,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q085CRL002,CONSOLIDATED RUTILE LTD,Ibis Minesite,...,QLD,4163,-27.591667,153.458330,"Sand quarrying, washing or screening",805,Mineral Sand Mining,Oxides of Nitrogen,Air Total,130881.0
9274,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q085CRL003,CONSOLIDATED RUTILE LTD,Yarraman Minesite,...,QLD,4163,-27.466667,153.500000,Rutile sand mining,805,Mineral Sand Mining,Oxides of Nitrogen,Air Total,85680.0

This method can also be used with `loc` and `iloc`.

In [19]:
df.loc[df['substance'] == 'Oxides of Nitrogen',['facility_name','substance','quantity_in_kg']]

                         facility_name           substance  quantity_in_kg
16                               DARRA  Oxides of Nitrogen        108967.0
34                    CLAYPAVE PTY LTD  Oxides of Nitrogen         17900.0
63                 PGH Bricks & Pavers  Oxides of Nitrogen         12792.0
94               PGH Bricks and Pavers  Oxides of Nitrogen         17682.0
124              PGH Bricks and Pavers  Oxides of Nitrogen          2613.0
...                                ...                 ...             ...
9175  QUEENSLAND BULK HANDLING PTY LTD  Oxides of Nitrogen         11651.0
9215      Boral Plasterboard Northgate  Oxides of Nitrogen         28841.0
9234         Pinkenba Processing Plant  Oxides of Nitrogen         10286.0
9254                     Ibis Minesite  Oxides of Nitrogen        130881.0
9274                 Yarraman Minesite  Oxides of Nitrogen         85680.0

[394 rows x 3 columns]

## Sorting
To sort the data in the table based on a certain column we can use the `.sort_values` method. When sorting we need to specify which column we want to sort and whether we want to sort in ascending order or descending order.

In [20]:
df.sort_values(by='jurisdiction_facility_id',ascending=False)

,jurisdiction,Year,data_start_date,data_end_date,first_published_date,last_updated_date,sub_threshold,jurisdiction_facility_id,registered_business_name,facility_name,...,site_address_state,site_address_postcode,site_latitude,site_longitude,main_activities,ANZSIC code,ANZSIC name,substance,destination,quantity_in_kg
9374,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086SLI001,SLALOM INVESTMENTS PTY LTD,SLALOM INVESTMENTS PTY LTD,...,QLD,4356,-27.759444,151.539444,Egg Production,172,Poultry Farming (Eggs),Ammonia (total),Air Total,11362.00
9373,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086ILE045,BARTTER ENTERPRISES PTY LTD,BARTTER ENTERPRISES PTY LTD,...,QLD,4343,-27.458349,152.367415,Poultry - fertile Eggs,172,Poultry Farming (Eggs),Ammonia (total),Air Total,34205.00
9372,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086ILE044,PAUL & CHARMAINE SCALIA,Scalia,...,QLD,4341,-27.622222,152.470833,Meat Chicken Facility,172,Poultry Farming (Eggs),Ammonia (total),Air Total,13610.00
9371,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086ILE043,BARTTER ENTERPRISES PTY LTD,BARTTER ENTERPRISES PTY LTD,...,QLD,4311,-27.384722,152.470556,Meat Breeder Rearing Facility,171,Poultry Farming (Meat),Ammonia (total),Air Total,17754.00
9370,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q086ILE042,BARTTER ENTERPRISES PTY LTD,BARTTER ENTERPRISES PTY LTD,...,QLD,4311,-27.374167,152.463889,Meat Breeder Rearing Facility,171,Poultry Farming (Meat),Ammonia (total),Air Total,13450.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Polychlorinated dioxins and furans (TEQ),Air Total,0.00
19,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Polycyclic aromatic hydrocarbons (B[a]Peq),Air Total,0.00
20,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Sulfur dioxide,Air Total,109293.00
21,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Total Volatile Organic Compounds,Air Total,8656.00
0,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q001BOR001,BORAL BRICKS P/L,DARRA,...,QLD,4076,-27.565416,152.958722,Manufacture and sale of clay bricks and pavers,2021,Clay Brick Manufacturing,Arsenic & compounds,Air Total,6.31

__Note:__ many methods return the result as a data frame as well. This allows us to chain these operations to make the code shorter and easier to read.<br>

Let's sort the table based on the amount of Oxides of Nitrogen only.

In [21]:
df.loc[df['substance'] == 'Oxides of Nitrogen'].sort_values(by='quantity_in_kg',ascending=False)

,jurisdiction,Year,data_start_date,data_end_date,first_published_date,last_updated_date,sub_threshold,jurisdiction_facility_id,registered_business_name,facility_name,...,site_address_state,site_address_postcode,site_latitude,site_longitude,main_activities,ANZSIC code,ANZSIC name,substance,destination,quantity_in_kg
2491,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q019TAR001,TARONG ENERGY CORP LTD,Tarong Power Station,...,QLD,4615,-26.786480,151.914128,Electricity generation using coal or coal deri...,2611,Fossil Fuel Electricity Generation,Oxides of Nitrogen,Air Total,48428084.0
2388,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q019NRG001,NRG GLADSTONE OPERATING SERVICES P/L,Gladstone Power Station,...,QLD,4680,-23.856484,151.218582,Electricity generation using coal or coal deri...,2611,Fossil Fuel Electricity Generation,Oxides of Nitrogen,Air Total,41248832.0
2435,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q019SCL001,STANWELL CORP LTD,Stanwell Power Station,...,QLD,4702,-23.508888,150.317777,Combustion of fossil fuels to produce electricity,2611,Fossil Fuel Electricity Generation,Oxides of Nitrogen,Air Total,37912188.0
1683,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q019CSE001,CS ENERGY LTD,Callide Power Station (A & B),...,QLD,4715,-24.345000,150.618900,Combustion of fossil fuels to produce electricity,2611,Fossil Fuel Electricity Generation,Oxides of Nitrogen,Air Total,19416120.0
2337,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q019MIL001,MILLMERRAN OPERATING CO P/L,Millmerran Power,...,QLD,4357,-27.962800,151.278200,Power Generation from Fossil fuel combustion,2611,Fossil Fuel Electricity Generation,Oxides of Nitrogen,Air Total,12500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9034,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q080BHP001,BHP LTD,Cannington Port Facility,...,QLD,4810,-19.253466,146.832201,Storage and Loading of Lead and Zinc Concentrates,5212,Port and Water Transport Terminal Operations,Oxides of Nitrogen,Air Total,110.0
5079,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q031BCC001,BRISBANE CITY COUNCIL,Eagle Farm Asphalt Plant,...,QLD,4009,-27.439268,153.084179,Asphalt Manufacture,1709,Other Petroleum and Coal Product Manufacturing,Oxides of Nitrogen,Air Total,97.0
2288,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q019ERG037,ERGON ENERGY CORP LTD,Dajarra,...,QLD,4825,-21.683333,139.500000,"Isolated power station, Diesel Internal Combus...",2611,Fossil Fuel Electricity Generation,Oxides of Nitrogen,Air Total,86.6
2300,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q019ERG038,ERGON ENERGY CORP LTD,Winton,...,QLD,4735,-22.383333,143.033333,"Isolated power station, Diesel Internal Combus...",2611,Fossil Fuel Electricity Generation,Oxides of Nitrogen,Air Total,16.0
2275,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q019ERG036,ERGON ENERGY UTILITY SERVICES P/L,Sun Coast Gold Macadamia Gympie,...,QLD,4570,-26.225830,152.698610,Burning Macadamia Nut Shells to produce electr...,2619,Other Electricity Generation,Oxides of Nitrogen,Air Total,5.6

We can also sort based on multiple columns. To do so we need to pass in the name of the column in a list (in the order we want them to be used for sorting) and also a list to specify whether each column should be ascending or descending.

In [22]:
df.loc[df['substance'] == 'Oxides of Nitrogen'].sort_values(by=['site_address_postcode','facility_name'],ascending=[True,False])

,jurisdiction,Year,data_start_date,data_end_date,first_published_date,last_updated_date,sub_threshold,jurisdiction_facility_id,registered_business_name,facility_name,...,site_address_state,site_address_postcode,site_latitude,site_longitude,main_activities,ANZSIC code,ANZSIC name,substance,destination,quantity_in_kg
5103,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q031BOR002,BORAL RESOURCES (QLD) P/L,Boral Asphalt,...,QLD,4007,-27.438436,153.078419,Asphalt Manufacturing,1709,Other Petroleum and Coal Product Manufacturing,Oxides of Nitrogen,Air Total,9823.0
4621,QLD,2006,1/01/2005,31/12/2005,31/01/2007,31/03/2010,N,Q022SHE017,THE SHELL CO OF AUST LTD,PinkenbaTerminal,...,QLD,4008,-27.418691,153.128295,Hydrocarbon Storage / Distribution & Bitumen P...,3321,Petroleum Product Wholesaling,Oxides of Nitrogen,Air Total,3504.0
9234,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q085CRL001,CONSOLIDATED RUTILE LTD,Pinkenba Processing Plant,...,QLD,4008,-27.436507,153.103643,Rutile sand mining,805,Mineral Sand Mining,Oxides of Nitrogen,Air Total,10286.0
4781,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q023BCC004,BRISBANE CITY COUNCIL - BRISBANE WATER,Luggage Point WWTP,...,QLD,4008,-27.380596,153.150174,Sewerage and Wastewater Treatment,2812,Sewerage and Drainage Services,Oxides of Nitrogen,Air Total,5100.0
6410,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q040IGC001,INDUSTRIAL GALVANIZERS CORP P/L,Industrial Galvanizers Brisbane,...,QLD,4008,-27.438421,153.101186,Hot Dip Galvanizing of Steel,2293,Metal Coating and Finishing,Oxides of Nitrogen,Air Total,2525.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4985,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q028CLT001,NERADA TEA ESTATES PTY LTD,Glen Allyn Tea Estate,...,QLD,4885,-17.383500,145.667000,Nerada grows tea and processes the G/Leaf in t...,1199,Other Food Product Manufacturing n.e.c.,Oxides of Nitrogen,Air Total,9672.0
4858,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q026MDL001,MALANDA DAIRYFOODS LTD,Dairy Farmers Malanda,...,QLD,4885,-17.351912,145.595819,Milk Processing,1131,Milk and Cream Processing,Oxides of Nitrogen,Air Total,4063.0
9154,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q080PAS001,ZINIFEX CENTURY LTD,Zinifex Century Mine- Karumba Port,...,QLD,4891,-17.498056,140.836944,Filtering and Drying of lead and zinc concentr...,807,Silver-Lead-Zinc Ore Mining,Oxides of Nitrogen,Air Total,19871.0
1778,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q019END003,EDL NGD (QLD) P/L,Karumba Port Site Power Station,...,QLD,4891,-17.495816,140.830708,Power Generation,2611,Fossil Fuel Electricity Generation,Oxides of Nitrogen,Air Total,276732.0
2251,QLD,2006,1/07/2005,30/06/2006,31/01/2007,31/03/2010,N,Q019ERG034,ERGON ENERGY CORP LTD,Cooktown,...,QLD,4895,-15.478060,145.249690,"Isolated power station, Diesel Internal Combus...",2611,Fossil Fuel Electricity Generation,Oxides of Nitrogen,Air Total,4280.0

## Data operations
- merge
- groupby
- pivot_table
- crosstab

__Groupby:__ It aggregates the data into groups (similar to groupby in SQL). For instance, what if we wanted an average emission of each substance across all the sites? To calculate that we use `.groupby()` method.

Since we want the average amount of substances, the columns we need will be __substance__ and __quantity_in_kg__.

In [23]:
df[['substance','quantity_in_kg']].groupby(by='substance')

But it doesn't show us any tables. The reason is pandas has grouped the data into `DataFrameGroupBy` object and now we need to specify how the values should be aggregated. In this case since we want the average we use `.mean()`.

In [24]:
df[['substance','quantity_in_kg']].groupby(by='substance').mean()

                                       quantity_in_kg
substance
1,1,1,2-Tetrachloroethane                    0.067800
1,1,2-Trichloroethane                        1.028285
1,2-Dibromoethane                           50.000000
1,2-Dichloroethane                           3.100041
1,3-Butadiene (vinyl ethylene)               1.802580
...                                               ...
Trichloroethylene                         5584.750000
Vinyl Chloride Monomer                      34.237040
Xylenes (individual or mixed isomers)      715.616385
Zinc and compounds                        6358.184715
n-Hexane                                  1025.188222

[74 rows x 1 columns]

There are other useful aggregation functions such as `.std()` for standard deviation, `.median()` for median, `.count()` for the number of rows in each group, `.sum()` for sum, etc. You can also define your own aggregation function.

In [28]:
agg_func = lambda x: np.sqrt((x**2).mean()) # root mean of squares
df[['substance','quantity_in_kg']].groupby(by='substance').apply(agg_func)

                                       quantity_in_kg
substance
1,1,1,2-Tetrachloroethane                    0.093245
1,1,2-Trichloroethane                        2.589484
1,2-Dibromoethane                           50.000000
1,2-Dichloroethane                           7.830007
1,3-Butadiene (vinyl ethylene)               8.022719
...                                               ...
Trichloroethylene                        11159.504480
Vinyl Chloride Monomer                      87.487409
Xylenes (individual or mixed isomers)     5012.507739
Zinc and compounds                       49315.912982
n-Hexane                                  9230.839169

[74 rows x 1 columns]

<font color='green'>Do you know how to use *__lambda__* functions? If not check out <a href = 'https://www.w3schools.com/python/python_lambda.asp'>this page</a> to learn about them.</font>

### Pivot Table
Another way to represent the data is using pivot tables. You might be familiar with pivot tables in Excel. You can perform the same operations here as well.

Let's create a pivot table that shows the amount of each substance in every postcode in the dataset.

In [29]:
df.pivot_table(index='site_address_postcode',columns='substance',values='quantity_in_kg',aggfunc='mean')

substance,"1,1,1,2-Tetrachloroethane","1,1,2-Trichloroethane","1,2-Dibromoethane","1,2-Dichloroethane","1,3-Butadiene (vinyl ethylene)",Acetaldehyde,Acetic acid (ethanoic acid),Acetone,Acetonitrile,Acrylamide,...,Sulfuric acid,Tetrachloroethylene,Toluene (methylbenzene),"Toluene-2,4-diisocyanate",Total Volatile Organic Compounds,Trichloroethylene,Vinyl Chloride Monomer,Xylenes (individual or mixed isomers),Zinc and compounds,n-Hexane
site_address_postcode,,,,,,,,,,,,,,,,,,,,,
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11.765000,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0014,NaN,1436.000000,NaN,46156.000000,NaN,NaN,753.000,NaN,881.0
4008,NaN,NaN,NaN,NaN,NaN,65.80,NaN,NaN,NaN,NaN,...,520.0000,NaN,30384.966667,NaN,502521.650000,NaN,NaN,20189.075,87.2,46679.7
4009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3158.750000,NaN,89518.775000,NaN,NaN,873.650,NaN,4200.0
4013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3209.000000,NaN,NaN,NaN,95.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,409.000000,NaN,NaN,NaN,NaN,NaN
4885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,347.500000,NaN,NaN,NaN,NaN,NaN
4890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,191.000000,NaN,NaN,1.020,NaN,NaN
4891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.162000,NaN,3058.333333,NaN,NaN,0.780,432.0,NaN
4895,NaN,NaN,NaN,NaN,0.05,0.03,NaN,NaN,NaN,NaN,...,NaN,NaN,0.380000,NaN,107.000000,NaN,NaN,0.260,NaN,NaN

__Note:__ `NaN` stands for Not a Number. In this case it means there was no value available for that cell. This means where you see `NaN` in the table there was no emission recorded for that substance in that specific postcode. This probably means that we can assume the emission was zero. We could let pandas know by passing in `fill_value = 0`. Then, where no value is available pandas put zero instead.

In [30]:
df.pivot_table(index='site_address_postcode',columns='substance',values='quantity_in_kg',aggfunc='mean',fill_value = 0)

substance,"1,1,1,2-Tetrachloroethane","1,1,2-Trichloroethane","1,2-Dibromoethane","1,2-Dichloroethane","1,3-Butadiene (vinyl ethylene)",Acetaldehyde,Acetic acid (ethanoic acid),Acetone,Acetonitrile,Acrylamide,...,Sulfuric acid,Tetrachloroethylene,Toluene (methylbenzene),"Toluene-2,4-diisocyanate",Total Volatile Organic Compounds,Trichloroethylene,Vinyl Chloride Monomer,Xylenes (individual or mixed isomers),Zinc and compounds,n-Hexane
site_address_postcode,,,,,,,,,,,,,,,,,,,,,
4006,0.0,0.0,0,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0.0000,0.0,0.000000,0.0,11.765000,0,0.0,0.000,0.0,0.0
4007,0.0,0.0,0,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0.0014,0.0,1436.000000,0.0,46156.000000,0,0.0,753.000,0.0,881.0
4008,0.0,0.0,0,0.0,0.00,65.80,0.0,0.0,0,0.0,...,520.0000,0.0,30384.966667,0.0,502521.650000,0,0.0,20189.075,87.2,46679.7
4009,0.0,0.0,0,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0.0000,0.0,3158.750000,0.0,89518.775000,0,0.0,873.650,0.0,4200.0
4013,0.0,0.0,0,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0.0000,0.0,0.000000,0.0,3209.000000,0,0.0,0.000,95.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4882,0.0,0.0,0,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0.0000,0.0,0.000000,0.0,409.000000,0,0.0,0.000,0.0,0.0
4885,0.0,0.0,0,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0.0000,0.0,0.000000,0.0,347.500000,0,0.0,0.000,0.0,0.0
4890,0.0,0.0,0,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0.0000,0.0,0.000000,0.0,191.000000,0,0.0,1.020,0.0,0.0
4891,0.0,0.0,0,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0.0000,0.0,2.162000,0.0,3058.333333,0,0.0,0.780,432.0,0.0
4895,0.0,0.0,0,0.0,0.05,0.03,0.0,0.0,0,0.0,...,0.0000,0.0,0.380000,0.0,107.000000,0,0.0,0.260,0.0,0.0

#### Exercise
Now to practice what we have learned so far, let's create a table of the total emissions of the top 10 substances (most commonly recorded substances in the dataset) for each postcode.<br>
Also, let's keep the empty fields as `NaN`.

In [44]:
# 1. Find how many times each substance has been recorded
substances = df[['site_address_postcode','substance']].groupby(by='substance').count() 



# 2. Sort it and find the substances that have been recorded the most
substances.columns = ['Count']
top10 = substances.sort_values(by='Count',ascending=False)[:10]
top10



# 3. Create a table that shows the total amount of substances per postcode




# 4. Get a subset of the table which only includes the top 10 substances

                                            Count
substance
Total Volatile Organic Compounds              669
Carbon monoxide                               465
Sulfur dioxide                                400
Oxides of Nitrogen                            394
Particulate Matter 10.0 um                    392
Polycyclic aromatic hydrocarbons (B[a]Peq)    368
Xylenes (individual or mixed isomers)         342
Toluene (methylbenzene)                       327
Benzene                                       280
Mercury & compounds                           276

#### Solution:

In [31]:
# you can replace site_address_postcode by any other column. Since we are only counting it doesn't matter which column use.
substances = df[['site_address_postcode','substance']].groupby(by='substance').count() 

# Now sort it
substances.columns = ['Count']
top10 = substances.sort_values(by='Count',ascending=False)[:10]

# top10 is a data frame and top10.index contains the name of the substance.

# Create the pivot table
pivot = df.pivot_table(index='site_address_postcode',columns='substance',values='quantity_in_kg',aggfunc='sum')

# get only the columns for top 10 substances
pivot_top10 = pivot[top10.index]

pivot_top10

substance,Total Volatile Organic Compounds,Carbon monoxide,Sulfur dioxide,Oxides of Nitrogen,Particulate Matter 10.0 um,Polycyclic aromatic hydrocarbons (B[a]Peq),Xylenes (individual or mixed isomers),Toluene (methylbenzene),Benzene,Mercury & compounds
site_address_postcode,,,,,,,,,,
4006,23.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,138468.00,4092.0,1870.000,9823.0,2572.0,11.7000,753.00,1436.000,378.00,NaN
4008,5025216.50,534408.0,2316025.600,681944.0,249500.1,13.7888,80756.30,91154.900,37018.40,13.0244
4009,358075.10,6864.0,4.001,862.0,322.2,21.9050,1747.30,6317.500,6437.80,NaN
4013,6418.00,199808.0,40916.000,46024.0,27880.0,14.2000,NaN,NaN,NaN,0.6000
...,...,...,...,...,...,...,...,...,...,...
4882,409.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4885,695.00,5205.0,9680.400,13735.0,64444.0,0.0682,NaN,NaN,NaN,NaN
4890,191.00,NaN,NaN,NaN,NaN,NaN,1.02,NaN,NaN,NaN
4891,9175.00,40002.0,60694.000,296603.0,1955.0,1.5500,0.78,4.324,NaN,0.7310
4895,107.00,1139.0,65.300,4280.0,133.0,0.2200,0.26,0.380,1.04,NaN

Now it's a good time to discuss dealing with missing values in a table.

## Missing Values
There might be missing data in a table. Having `NaN` in the table can cause trouble in the analysis so we need to decide how we are going to deal with it. A few common scenarios are:
1. filling the missing values with a number e.g. zero
2. removing rows with missing values
3. removeing rows with multiple missing values and filling the remaining with a new value

To replace the missing value with a fixed number we can use `.fillna()` method.

In [32]:
dfnew = pivot_top10.fillna(value=0)
dfnew

substance,Total Volatile Organic Compounds,Carbon monoxide,Sulfur dioxide,Oxides of Nitrogen,Particulate Matter 10.0 um,Polycyclic aromatic hydrocarbons (B[a]Peq),Xylenes (individual or mixed isomers),Toluene (methylbenzene),Benzene,Mercury & compounds
site_address_postcode,,,,,,,,,,
4006,23.53,0.0,0.000,0.0,0.0,0.0000,0.00,0.000,0.00,0.0000
4007,138468.00,4092.0,1870.000,9823.0,2572.0,11.7000,753.00,1436.000,378.00,0.0000
4008,5025216.50,534408.0,2316025.600,681944.0,249500.1,13.7888,80756.30,91154.900,37018.40,13.0244
4009,358075.10,6864.0,4.001,862.0,322.2,21.9050,1747.30,6317.500,6437.80,0.0000
4013,6418.00,199808.0,40916.000,46024.0,27880.0,14.2000,0.00,0.000,0.00,0.6000
...,...,...,...,...,...,...,...,...,...,...
4882,409.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.000,0.00,0.0000
4885,695.00,5205.0,9680.400,13735.0,64444.0,0.0682,0.00,0.000,0.00,0.0000
4890,191.00,0.0,0.000,0.0,0.0,0.0000,1.02,0.000,0.00,0.0000
4891,9175.00,40002.0,60694.000,296603.0,1955.0,1.5500,0.78,4.324,0.00,0.7310
4895,107.00,1139.0,65.300,4280.0,133.0,0.2200,0.26,0.380,1.04,0.0000

__Note:__ When using `fillna` the changes are not saved in the data frame. The default settings only returns the result and keeps the original data frame intact. If you want to save the changes in the same data frame you can pass in `inplace = True`.

There are other ways to fill the missing values. In some cases you might want to use different values for each column. A common example is using mean or median of a column for the missing values.

In [33]:
fill_values = pivot_top10.mean()
dfnew = pivot_top10.fillna(value=fill_values)
dfnew

substance,Total Volatile Organic Compounds,Carbon monoxide,Sulfur dioxide,Oxides of Nitrogen,Particulate Matter 10.0 um,Polycyclic aromatic hydrocarbons (B[a]Peq),Xylenes (individual or mixed isomers),Toluene (methylbenzene),Benzene,Mercury & compounds
site_address_postcode,,,,,,,,,,
4006,23.53,793603.077641,2.565225e+06,1.568823e+06,1.112755e+06,274.356493,1664.903427,2376.34755,857.583106,12.48791
4007,138468.00,4092.000000,1.870000e+03,9.823000e+03,2.572000e+03,11.700000,753.000000,1436.00000,378.000000,12.48791
4008,5025216.50,534408.000000,2.316026e+06,6.819440e+05,2.495001e+05,13.788800,80756.300000,91154.90000,37018.400000,13.02440
4009,358075.10,6864.000000,4.001000e+00,8.620000e+02,3.222000e+02,21.905000,1747.300000,6317.50000,6437.800000,12.48791
4013,6418.00,199808.000000,4.091600e+04,4.602400e+04,2.788000e+04,14.200000,1664.903427,2376.34755,857.583106,0.60000
...,...,...,...,...,...,...,...,...,...,...
4882,409.00,793603.077641,2.565225e+06,1.568823e+06,1.112755e+06,274.356493,1664.903427,2376.34755,857.583106,12.48791
4885,695.00,5205.000000,9.680400e+03,1.373500e+04,6.444400e+04,0.068200,1664.903427,2376.34755,857.583106,12.48791
4890,191.00,793603.077641,2.565225e+06,1.568823e+06,1.112755e+06,274.356493,1.020000,2376.34755,857.583106,12.48791
4891,9175.00,40002.000000,6.069400e+04,2.966030e+05,1.955000e+03,1.550000,0.780000,4.32400,857.583106,0.73100
4895,107.00,1139.000000,6.530000e+01,4.280000e+03,1.330000e+02,0.220000,0.260000,0.38000,1.040000,12.48791

Pandas has other methods for filling the missing values including forward and backward filling. Forward filling replaces the missing values by the last valid value in the table and backward filling replaces the missing values by next valid value. These techniques are useful for sequential data such as time series and wouldn't make sense to be applied to tabular data.<br>
To use these methods, when using `fillna` instead of passing in a value, you can pass a method. For forward filling pass in `method = "ffill"` and for backward filling pass in `method = "bfill"`.

If you simply want to get rid of rows with missing values you can use `.dropna()`

In [34]:
dfnew = pivot_top10.dropna()
dfnew

substance,Total Volatile Organic Compounds,Carbon monoxide,Sulfur dioxide,Oxides of Nitrogen,Particulate Matter 10.0 um,Polycyclic aromatic hydrocarbons (B[a]Peq),Xylenes (individual or mixed isomers),Toluene (methylbenzene),Benzene,Mercury & compounds
site_address_postcode,,,,,,,,,,
4008,5025216.50,534408.000,2316025.6,681944.0,249500.1,13.7888,80756.300,91154.900,37018.400,13.024400
4014,11456.58,15428.000,208.0,4109.0,312.0,0.0300,187.000,527.140,21.790,0.022100
4055,9202.00,8860.000,1909.0,17076.0,22353.0,0.8900,215.700,607.000,25.011,0.013900
4076,76197.00,193463.000,109363.3,115413.0,184617.0,0.1805,304.900,488.700,162.861,1.081300
4077,3714.25,92469.000,47747.0,5643.0,85636.0,0.0150,7.611,97.400,177.000,0.457000
...,...,...,...,...,...,...,...,...,...,...
4871,34075.70,138996.881,23559.0,361559.0,13275.0,14.3900,28.019,63.579,74.559,0.057121
4874,181508.00,1790146.000,985114.0,1321686.0,4323917.0,23.8800,7315.190,4160.230,572.850,3.045000
4875,38340.00,172116.000,225041.0,719426.0,37307.0,32.2500,54.200,83.570,176.170,0.000000
4876,4583.70,48610.000,2787.0,182636.0,5694.0,9.5800,11.200,16.000,44.400,0.000000
4880,4534.93,466631.000,52845.0,125618.0,33296.0,177.0000,38.700,104.800,58.100,0.000800

__Note:__ Notice the number of rows are much less in the table above compared to the original table.

If we remove any row that contains missing values we might lose a significant portion of the data. Alternatively, we can only remove rows which have more than a certain number of missing values. To do so, we can set a threshold.

In [35]:
# remove the rows with at least 3 missing values
dfnew = pivot_top10.dropna(thresh=3)
dfnew

substance,Total Volatile Organic Compounds,Carbon monoxide,Sulfur dioxide,Oxides of Nitrogen,Particulate Matter 10.0 um,Polycyclic aromatic hydrocarbons (B[a]Peq),Xylenes (individual or mixed isomers),Toluene (methylbenzene),Benzene,Mercury & compounds
site_address_postcode,,,,,,,,,,
4007,138468.00,4092.0,1870.000,9823.0,2572.0,11.7000,753.00,1436.000,378.00,NaN
4008,5025216.50,534408.0,2316025.600,681944.0,249500.1,13.7888,80756.30,91154.900,37018.40,13.0244
4009,358075.10,6864.0,4.001,862.0,322.2,21.9050,1747.30,6317.500,6437.80,NaN
4013,6418.00,199808.0,40916.000,46024.0,27880.0,14.2000,NaN,NaN,NaN,0.6000
4014,11456.58,15428.0,208.000,4109.0,312.0,0.0300,187.00,527.140,21.79,0.0221
...,...,...,...,...,...,...,...,...,...,...
4876,4583.70,48610.0,2787.000,182636.0,5694.0,9.5800,11.20,16.000,44.40,0.0000
4880,4534.93,466631.0,52845.000,125618.0,33296.0,177.0000,38.70,104.800,58.10,0.0008
4885,695.00,5205.0,9680.400,13735.0,64444.0,0.0682,NaN,NaN,NaN,NaN
4891,9175.00,40002.0,60694.000,296603.0,1955.0,1.5500,0.78,4.324,NaN,0.7310
4895,107.00,1139.0,65.300,4280.0,133.0,0.2200,0.26,0.380,1.04,NaN

Now we have more rows compared to when we removed all missing values.<br>
Next step is to replace the missing values using the techniques discussed above.

## Saving Data
After analysis and reshaping the data you might want to save the results in a file. Similar to reading files, pandas supports multiple file formats to save the tables.

In [36]:
pivot_top10.to_csv('final_table.csv')

## Pandas Plotting
Pandas dataframes have plotting methods which help to visualise the data. The following plots are supported in pandas:
- 'line' : line plot (default)
- 'bar' : vertical bar plot
- 'barh' : horizontal bar plot
- 'hist' : histogram
- 'box' : boxplot
- 'kde' : Kernel Density Estimation plot
- 'density' : same as 'kde'
- 'area' : area plot
- 'pie' : pie plot
- 'scatter' : scatter plot
- 'hexbin' : hexbin plot.

You can select which plot you want to use by setting `kind` to the string for the plot.<br>
There are a few other useful options you can set:
- xlim, ylim: to set limits of axes
- logx, logy, loglog: to set whether an axis should be displayed in logarithmic scale]
- title: to set the title of the plot
- figsize: to set the size of the plot
<br><br>Let's try a few types of charts and graphs.

In [37]:
# Top 10 postcodes with largest carbon monoxide emission
pivot_top10.sort_values(by='Carbon monoxide',ascending = False)[:10].plot(kind = 'barh',y='Carbon monoxide')

In [38]:
# histogram of benzene emission 
pivot_top10.plot(kind='hist',y = 'Benzene',bins = 50)

In [39]:
# kernel density estimation plot of benzene emission

pivot_top10.plot(kind='kde',y = ['Benzene','Toluene (methylbenzene)'],logx=True)

In [40]:
# histogram of benzene emission in each postcode
pivot_top10.plot(kind='box',logy = True,rot=90)

In [41]:
pivot_top10.plot(kind='scatter',x='Toluene (methylbenzene)',y='Benzene', loglog=True)

In [43]:
# pie chart of emission of the substances in postcode 4008
pivot_top10.loc[4008,:].plot(kind='pie',subplots=True, figsize = (10,10))

/anaconda/envs/py37_pytorch/lib/python3.7/site-packages/pandas/plotting/_matplotlib/core.py:1502: UserWarning: Attempted to set non-positive left xlim on a log-scaled axis.
Invalid limit will be ignored.
  results = ax.pie(y, labels=blabels, **kwds)
/anaconda/envs/py37_pytorch/lib/python3.7/site-packages/pandas/plotting/_matplotlib/core.py:1502: UserWarning: Attempted to set non-positive bottom ylim on a log-scaled axis.
Invalid limit will be ignored.
  results = ax.pie(y, labels=blabels, **kwds)

array([<matplotlib.axes._subplots.AxesSubplot object at 0x7f00bb662690>],
      dtype=object)

We will discuss producing more advanced plots in the next notebooks where we learn about various plotting packages in python.

## References and further reading
The following sources have been used in the creation of this notebook:
- [Pandas documentation](https://pandas.pydata.org/)
- [Pandas in 10 minutes](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html)

What we covered in this notebook is only a fraction of capabilities Pandas offer. If you are interested to know more about pandas we recommend the following sources:
- https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf
- https://www.kaggle.com/learn/pandas
- https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas
- https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS